console.log('<%= @task.name %>');

# タスクをAjaxで一番上に追加する
const domTasks = document.querySelector('.js-task__list');
domTasks.prepend("<li class='tasks__list-task'><%= @task.name %></li>");

# formを入力した後Ajaxが成功したらフォームのinputに残った表示済のタスクを削除する
const domForm = document.getElementById('js-forms');
domForm.addEventListener('ajax:success', (event) => {
  document.domForm.reset();
};



