// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* ==========================================================================
   #POMODORO APP STYLES
   ========================================================================== */

/**
 *
 * Inheriting box sizing slightly better best-practice
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 *
 */

 html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --pomodoro: #CAC0B6;
  --shortBreak: #746E65;
  --longBreak: #555648;
  --dark-letter: #545454;
  --white: #ffffff;
}

body {
  background-color: var(--pomodoro);
  transition: background-color 1s ease;
  font-family: 'Crimson Text', 'Source Serif Pro', serif;
  user-select: none;
}

// header {
//   /*ヘッダーを固定*/
//   position: fixed;
//   display: flex;
//   width: 100%;
//   height: 90px;
// }

button {
  border-width: 2px;
  border-style: none;
  border-color: none;
  border-image: initial;
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

.clock {
  font-family: 'Crimson Text', serif;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 12rem;
  line-height: 1;
  display: flex;
  align-items: center;
}

.mode-button {
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  height: 28px;
  cursor: pointer;
  color: #fff;
  margin: 0px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-bottom: 1px solid var(--white);
}

.main-button {
  cursor: pointer;
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  height: 55px;
  color: var(--white);
  width: 200px;
  background-color: transparent;
  border: 1px solid var(--white);
  margin: 20px 0px 0px;
  padding: 0px 12px;
  border-radius: 30px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus, button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

